---
layout: base
title: Rik Schennink - Thoughts
---

<h1>Rik Schennink</h1>

<!--
<nav>
    <ul>
        <li><a href="/thoughts">Thoughts</a></li>
        <li><a href="/products">Products</a></li>
    </ul>
</nav>
-->

<p>Web enthousiast. Design, Code or UX, I'm crazy about it all. Frontend Dev while it's light out, turns into a Game Dev during the night.</p>

<main>

    <section>

        <h1>Thoughts</h1>
        {% include thoughts.html %}

    </section>

    <section>

        <h1>Products</h1>
        {% include products.html %}

    </section>
</main>