---
layout: base
title: Rik Schennink - Thoughts
---

<div class="author">

    <h1>Rik Schennink</h1>

    <img src="https://avatars3.githubusercontent.com/u/1132575?v=2" alt=""/>

    <p>Web enthousiast. Design, Code, UX, I love it all. Frontend Dev while it's light out, turns into a Game Dev during the night.</p>

    <a href="http://twitter.com/rikschennink">@rikschennink</a>

</div>

<main>

    <section>

        <h1 id="thoughts">Thoughts</h1>
        {% include thoughts.html %}

    </section>

    <section>

        <h1 id="products">Products</h1>
        {% include products.html %}

    </section>

</main>