<ul class="thoughts">
    {% for post in site.posts %}
    <li>
        <article>
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <dl class="meta">
                <dt>Date</dt>
                <dd><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{% assign d = post.date | date: "%-d"  %}{{ post.date | date: "%B" }} {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ post.date | date: "%Y" }}</time></dd>
            </dl>
            {{ post.excerpt }}
        </article>
    </li>
    {% endfor %}
</ul>