$stack-width:30rem;

$font-stack-sans:Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
$font-stack-serif:Palatino,'Noto Serif','Times',serif;
$font-stack-mono:monaco,monospace;

$font-color-text:#22211D;
$font-color-link:#ce3925;
$fill-color-back:#ECECE9;

$family-mono:monaco,monospace;
$family-serif:Palatino,'Noto Serif','Times',serif;
$family-sans-serif:Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;


$twitter-text:#114872;
$twitter-fill:#6eb6ed;


$fill-color-grey:#f0f0f0;

$text-color-light:#C5C0BC;
$text-color-medium:#83807D;
$text-color-dark: #545250;

$margin-base:1.875rem;

$max-width-small:17.5rem;
