* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

::-moz-selection {
  color: #fff;
  background: #cc4654; }

::selection {
  color: #fff;
  background: #cc4654; }

section, aside, article, nav, footer {
  display: block; }

html, body {
  margin: 0;
  padding: 0; }

html {
  background: #fff; }

html, button {
  font-size: 1rem;
  font-family: Palatino, 'Noto Serif', 'Times', serif; }

html, table {
  color: #83807d; }

body {
  position: relative;
  line-height: 1.5;
  padding: 1.875rem;
  overflow-x: hidden;
  max-width: 40rem;
  margin: 0 auto; }

ol, ul, li, dl, dt, dd, p {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

a {
  color: #CF6363; }

button {
  cursor: pointer; }

pre {
  overflow-x: scroll;
  padding-right: 3.75rem; }
  pre::after {
    position: absolute;
    right: 1.875rem;
    top: 1.875rem;
    bottom: 1.875rem;
    width: 3.75rem;
    background: -webkit-linear-gradient(left, transparent, white);
    background: linear-gradient(to right, transparent, white);
    content: '';
    pointer-events: none; }

pre, code, kbd, samp {
  font-size: 0.875em;
  font-family: monaco, monospace; }

canvas, img {
  max-width: 100%; }

:not(pre) > code {
  color: #9E9494;
  font-size: 0.75em; }

kbd {
  margin: 0 0.25rem;
  display: inline;
  color: #747772;
  background-color: #eceee9;
  box-shadow: -0.125rem 0 0 0.125rem #eceee9, 0.125rem 0 0 0.125rem #eceee9; }

kbd.key {
  display: inline-block;
  border-radius: 0.0625rem;
  font-size: 0.75em;
  margin: 0 0.5em;
  padding: 0.06125em 0.5em 0;
  box-shadow: 0 0.125rem 0 0.15rem #dcded9, 0 0.125rem 0 0.2rem #c3c5c0, 0 0 0 0.125rem #eceee9; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6, strong {
  color: #47413B; }

* + * {
  margin-top: 1.875rem; }

script + * {
  margin-top: 0; }

p + p {
  margin-top: 0.9375rem; }

h2 + *, h3 + *, h4 + * {
  margin-top: 0.9875rem; }

li + li {
  margin-top: 0.9875rem; }

h2 {
  font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif; }

main {
  margin-left: -1.875rem;
  margin-right: -1.875rem; }

blockquote {
  font-size: 1.125em;
  position: relative;
  padding: 0.9325rem;
  margin: 0.9325rem 15% 1.875rem 0;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg); }
  blockquote p {
    display: inline;
    color: #fff;
    margin: 0 0.25em;
    background: #9E9494;
    box-shadow: -0.125em 0 0 0.325rem #9E9494, 0.125em 0 0 0.325rem #9E9494; }
  blockquote strong {
    color: #fff; }
  @media (min-width: 40rem) {
    blockquote {
      margin-right: 1.875rem;
      margin-left: -1.875rem;
      font-size: 1.5rem;
      float: left;
      max-width: 40%; } }
  @media (min-width: 50rem) {
    blockquote {
      margin-left: -3.75rem; } }

main > section > h1 {
  text-align: right;
  color: #83807d;
  max-width: 17.5rem;
  margin-right: 3.75rem; }
  @media (min-width: 30rem) {
    main > section > h1 {
      position: absolute;
      margin-right: 1.875rem;
      font-size: 1.5rem;
      left: 20rem;
      margin-top: 0;
      text-align: left; } }

.author {
  margin-bottom: 3.75rem;
  /*

	// compositions
	$mq-author-a:35rem;
	$fs-base:1.125rem;

	@media (max-width:$mq-author-a) {

		//margin-bottom:-1.875rem - 1.25rem;
		font-size:$fs-base;

		h1 {
			margin-top:-.25rem;
		}

		a {
			display: none;
			position:absolute;
			top:100%;
			right:-$margin-base;
			margin-top:-6.25rem;
		}

	}


	@media (min-width:$mq-author-a + $pixel) {

		font-size:$fs-base;
		//margin-bottom:3.875rem;

		img {
			//position:absolute;
			//left:50%;
			//top:0;
			//margin-left:-6.25rem;
			height:6.25rem;
			margin-top:1.25rem;
		}

		a {
			position:absolute;
			top:0;
			right:0;
		}

	}
	*/ }
  .author h1, .author p, .author span {
    margin: 0; }
  .author h1 {
    font-size: 1em;
    color: #83807D; }
  .author p {
    font-family: Palatino, 'Noto Serif', 'Times', serif;
    font-style: italic;
    color: #C5C0BC;
    text-transform: lowercase; }
  .author img {
    vertical-align: top;
    background: #e3e4c8; }
  .author a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: #114872;
    background: #6eb6ed;
    font-size: 0.75em;
    display: none; }
  .author h1 {
    margin-top: -0.25rem; }
  .author .avatar {
    position: absolute;
    top: 0;
    left: 11.25rem;
    right: 3.75rem;
    min-width: 4.375rem;
    max-width: 6.25rem; }
  .author img {
    display: block;
    width: 100%;
    height: auto; }

.caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  font-size: 1em;
  font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
  box-sizing: border-box;
  min-width: 16.25rem;
  max-width: 17.5rem; }
  .caption a, .caption h1 {
    display: block;
    color: #fff;
    margin: -0.25em 0 -0.25em;
    line-height: 1.25;
    font-weight: normal; }
  .caption a {
    text-decoration: none; }
  .caption time {
    text-transform: uppercase; }
  .caption .meta {
    margin: 0.5rem 0 1.25rem;
    line-height: 1; }
  .caption a, .caption h1 {
    font-size: 1.333em;
    max-width: 15rem; }
  .caption time {
    font-size: 0.875em; }

.post header {
  margin: 0rem;
  max-width: 38rem; }
.post .caption {
  padding-right: 1.875rem;
  margin-left: 1.875rem;
  max-width: 18rem; }
.post > div {
  margin: 0;
  color: #52504E; }
  .post > div > p:first-child {
    position: relative;
    z-index: -1;
    clear: both;
    margin-top: 1.875rem;
    margin-left: -1.875rem;
    margin-bottom: 1.875rem;
    margin-right: 1.875rem;
    padding: 1.875rem;
    color: #83807D;
    background-color: #f0f0f0;
    font-family: Palatino, 'Noto Serif', 'Times', serif; }
    .post > div > p:first-child::after {
      content: '';
      display: table;
      clear: both; }
  .post > div > ol, .post > div > ul {
    margin-left: 1em;
    margin-right: 10%; }
    .post > div > ol ul, .post > div > ol ol, .post > div > ul ul, .post > div > ul ol {
      margin-right: 0;
      margin-left: 1.875rem; }
    .post > div > ol > li, .post > div > ul > li {
      margin-bottom: 0.9375rem; }
.post h2, .post h2 a {
  color: #716161; }
.post h3, .post h3 a {
  color: #9E9494; }
.post h2, .post h3 {
  margin-top: 3.75rem; }
.post aside {
  position: relative;
  margin-right: -1.875rem;
  padding: 1.875rem 1.875rem 0;
  background: #EAF2F5;
  color: #83807D;
  background-color: #EFF2F4; }
  .post aside h1 {
    margin-top: 0;
    font-size: 1.25em;
    font-family: Lucida Sans Unicode, Lucida Grande, Arial, sans-serif; }
  .post aside h1, .post aside a {
    color: #CF6363; }
@media (min-width: 29rem) {
  .post .caption {
    font-size: 1.25em;
    float: right;
    margin-left: 1.875rem;
    margin-right: 0;
    margin-bottom: 0.75rem;
    margin-top: -3.75rem; }
    .post .caption h1 {
      margin-bottom: -0.45rem; }

  .post > div {
    font-size: 1.25em; }
    .post > div > p:first-child {
      clear: none;
      margin-top: 3.75rem;
      margin-left: -1.875rem;
      margin-bottom: 1.875rem;
      margin-right: 3.75rem; }
 }
@media (min-width: 43rem) {
  .post h2 {
    margin-left: -1.875rem; }

  .post .caption {
    float: left;
    margin-top: 3.75rem;
    margin-right: 1.875rem;
    margin-left: -1.875rem; }

  .post > div {
    padding-top: 3.75rem;
    margin-right: 3.75rem; }
    .post > div > p:first-child {
      margin-left: 1.875rem;
      margin-right: -3.75rem;
      font-size: 1.125em; }
 }
@media (min-width: 54rem) {
  .post .caption {
    float: left;
    margin-top: 0; }

  .post > div {
    padding-top: 1.875rem; }
    .post > div > p:first-child {
      margin-top: 1.875rem; }
 }

.thoughts::after {
  display: table;
  clear: both;
  content: ''; }
.thoughts, .thoughts > li {
  padding: 0;
  list-style-type: none; }
.thoughts p {
  font-family: Palatino, 'Noto Serif', 'Times', serif;
  color: #83807D;
  margin: 0;
  font-size: 0.875em; }
.thoughts .caption {
  margin-right: 3.75rem;
  padding-right: 1.875rem; }
  .thoughts .caption a::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
  .thoughts .caption a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3.75rem;
    height: 3.75rem;
    background-image: url(../assets/arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem 1.25rem;
    background-position: center center;
    content: '';
    z-index: 1; }
.thoughts > li {
  position: relative;
  display: block;
  margin-bottom: 1.875rem; }
  .thoughts > li:first-child .caption {
    float: left;
    margin-bottom: -1.875rem; }
    .thoughts > li:first-child .caption a::after {
      background-color: #f0f0f0; }
  .thoughts > li:first-child p {
    clear: both;
    font-size: 1em;
    padding: 3.75rem 3.75rem 1.875rem 1.875rem;
    background-color: #f0f0f0; }
    .thoughts > li:first-child p a {
      position: relative;
      z-index: 2; }
@media (max-width: 24.9375rem) {
  .thoughts > li + li {
    max-width: 21.25rem; }
    .thoughts > li + li p {
      display: none; }
 }
@media (min-width: 25rem) {
  .thoughts p {
    font-size: 1em; }

  .thoughts > li:first-child .caption {
    font-size: 1.125em; }
 }
@media (min-width: 25rem) and (max-width: 32.9375rem) {
  .thoughts p {
    margin-left: 1.875rem; }

  .thoughts > li:first-child .caption {
    font-size: 1.125em; }
    .thoughts > li:first-child .caption a::after {
      right: 0;
      bottom: 0.75rem; }

  .thoughts > li:first-child ~ li p {
    margin-right: 3.875rem; }
  .thoughts > li:first-child ~ li .caption {
    margin-bottom: 1.875rem; }
    .thoughts > li:first-child ~ li .caption a::after {
      right: 0;
      bottom: 0; }
 }
@media (min-width: 33rem) {
  .thoughts > li {
    max-width: 34rem;
    padding-top: 4.25rem;
    margin-bottom: 3.75rem; }
    .thoughts > li p {
      padding-right: 1.875rem;
      margin-left: 11.25rem; }
    .thoughts > li .caption {
      float: left;
      margin-top: -4.25rem;
      margin-right: 1.875rem;
      margin-bottom: 0.9375rem; }

  .thoughts > li:first-child .caption {
    margin-bottom: 0; }
    .thoughts > li:first-child .caption a::after {
      bottom: auto;
      top: 5.25rem; }
  .thoughts > li:first-child p {
    clear: none;
    padding-top: 1.875rem; }

  .thoughts > li:first-child ~ li a::after {
    bottom: auto;
    top: 3.75rem; }
  .thoughts > li:first-child ~ li p {
    margin-right: 1.875rem; }
 }
@media (min-width: 43rem) {
  .thoughts > li:first-child ~ li:nth-child(even) {
    margin-left: 11.25rem; }
    .thoughts > li:first-child ~ li:nth-child(even) + li {
      margin-top: -3.75rem; }
 }

.products {
  list-style-type: none; }
  .products li {
    text-align: center;
    vertical-align: top;
    margin-bottom: 1rem; }
  .products article {
    background: #fff;
    padding: 0.9875rem; }
  .products a {
    text-decoration: none;
    color: #111; }
  .products a[href^='http'] {
    display: block;
    color: #fff;
    padding: 0.5rem;
    background: #ce3925; }

@media (min-width: 30rem) {
  .products {
    margin: 0 -0.9875rem; }
    .products li {
      box-sizing: border-box;
      display: inline-block;
      width: 33.333%;
      padding: 0.9875rem; }
 }

.highlight {
  position: relative;
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  overflow: hidden;
  padding: 2.5rem 1.875rem 0; }
  .highlight + .highlight {
    margin-top: 1.875rem; }
  .highlight pre {
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    overflow-x: auto; }
  .highlight code::before, .highlight code::after {
    position: absolute;
    padding: 0.25rem 0.5rem;
    color: #fff;
    font-weight: bold; }
  .highlight code::before {
    left: 0;
    top: 0;
    padding-left: 0.9375rem; }
  .highlight code[data-lang='javascript']::before, .highlight code[data-lang='javascript']::after {
    background: #98B656; }
  .highlight code[data-lang='javascript']::before {
    content: attr(data-lang) ' {'; }
  .highlight code[data-lang='html']::before, .highlight code[data-lang='html']::after {
    background: #539BD8; }
  .highlight code[data-lang='html']::before {
    content: attr(data-lang) ' <'; }
  .highlight .c, .highlight .cm, .highlight .c1 {
    color: #C8CCC4; }
  .highlight .k, .highlight .kd, .highlight .nt {
    color: #ce3925; }
  .highlight .mi {
    color: #708DE9; }
  .highlight .s, .highlight .s1, .highlight .s2 {
    color: #789C2A; }
  .highlight .o {
    color: #C8CCC4; }

.flickr {
  margin: 0 auto -1.875rem;
  text-align: center; }
  .flickr a {
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
    width: 47.5%;
    margin: 0 1.25%;
    padding-bottom: 25%;
    margin-bottom: 1.875rem;
    border: 0; }
  .flickr img {
    position: absolute;
    display: block;
    max-width: none;
    height: auto;
    width: 100%; }

@media (min-width: 30rem) {
  .flickr a {
    width: 30%;
    padding-bottom: 15%; }
 }

.dataset {
  color: #5F7386; }

nav {
  position: absolute;
  top: 0;
  left: 1.875rem; }
  nav, nav a {
    margin: 0; }
  nav a {
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    background: #f0f0f0;
    color: transparent;
    font-size: 0;
    margin-left: -1.875rem;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    background-image: url(../assets/arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem 1.25rem;
    background-position: center center; }
  @media (min-width: 54rem) {
    nav {
      position: fixed;
      top: 1.875rem; } }
  @media (min-width: 57.75rem) {
    nav {
      left: 3.75rem; } }

footer {
  color: #C5C0BC; }

.caption dt, nav h1 {
  display: none; }

#__bs_notify__ {
  opacity: 0.25 !important;
  width: 1rem;
  height: 1rem;
  padding: 0 !important;
  right: 1rem !important;
  top: 1rem !important;
  overflow: hidden;
  color: transparent !important;
  border-radius: 50% !important;
  background-color: green !important; }

.tilt {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transition: -webkit-transform 0.125s, box-shadow 0.125s, width 0.125s, height 0.125s;
          transition: transform 0.125s, box-shadow 0.125s, width 0.125s, height 0.125s;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0); }

.tilt-tile {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  padding: 0.5em 0.6875em;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left; }
  .tilt-tile, .tilt-tile span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .tilt-tile:not(a) i, .tilt-tile:not(a) span {
    cursor: default; }
  .tilt-tile:before {
    content: ''; }
  .tilt-tile.tilt-size-xs {
    width: 88px;
    height: 88px;
    width: 5.5rem;
    height: 5.5rem; }
  .tilt-tile.tilt-size-s {
    width: 108px;
    height: 108px;
    width: 6.75rem;
    height: 6.75rem; }
  .tilt-tile, .tilt-tile.tilt-size-m {
    width: 120px;
    height: 120px;
    width: 7.5rem;
    height: 7.5rem; }
  .tilt-tile.tilt-size-l {
    width: 132px;
    height: 132px;
    width: 8.25rem;
    height: 8.25rem; }
  .tilt-tile.tilt-size-xl {
    width: 152px;
    height: 152px;
    width: 9.5rem;
    height: 9.5rem; }

.tilt-img {
  overflow: hidden;
  position: relative;
  background-color: #111;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .tilt-img > i, .tilt-img span {
    position: relative;
    z-index: 2; }
  .tilt-img > img {
    display: none; }
  .tilt-img img ~ span {
    position: absolute;
    color: #fff;
    padding: 0.25em 0.5em;
    background-color: rgba(0, 0, 0, 0.5); }
  .tilt-img img ~ span, .tilt-img.tilt-caption-tl img ~ span, .tilt-img.tilt-caption-tc img ~ span, .tilt-img.tilt-caption-tr img ~ span {
    top: 0;
    right: 0;
    left: 0; }
  .tilt-img.tilt-caption-bl img ~ span, .tilt-img.tilt-caption-bc img ~ span, .tilt-img.tilt-caption-br img ~ span {
    bottom: 0;
    right: 0;
    left: 0;
    top: auto; }

.tilt-pillow, .tilt-pillow-m {
  border-radius: 0.425em; }

.tilt-pillow-s {
  border-radius: 0.25em; }

.tilt-pillow-l {
  border-radius: 0.75em; }

.tilt-icon-center > i, .tilt-grid li[data-tile-size='_s'] .tilt-tile.tilt-icon-center > i, .tilt-grid li[data-tile-size='|s'] .tilt-tile > i, .tilt-grid li[data-tile-size='s'] .tilt-tile > i {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.5em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-style: normal;
  font-size: 2.75em; }

.tilt-icon-tl > i, .tilt-icon-tr > i, .tilt-icon-bl > i, .tilt-icon-br > i {
  position: absolute;
  margin: 0; }

.tilt-icon-tr > i {
  top: 0.6875em;
  right: 0.6875em; }

.tilt-icon-tl > i {
  top: 0.6875em;
  left: 0.6875em; }

.tilt-icon-bl > i {
  bottom: 0.6875em;
  left: 0.6875em; }

.tilt-icon-br > i {
  bottom: 0.6875em;
  right: 0.6875em; }

.tilt-caption-hidden span {
  display: block;
  left: -9999em;
  top: -9999em;
  width: 1px;
  height: 1px;
  text-indent: -9999em;
  overflow: hidden; }

.tilt-caption-tl span, .tilt-caption-tc span, .tilt-caption-bc span, .tilt-caption-tr span, .tilt-caption-bl span, .tilt-caption-br span {
  position: absolute;
  left: 0.6875em;
  right: 0.6875em;
  bottom: 0.5em; }

.tilt-caption-tl span {
  top: 0.5em; }

.tilt-caption-tl span, .tilt-caption-bl span {
  text-align: left; }

.tilt-caption-tr span, .tilt-caption-br span {
  text-align: right; }

.tilt-caption-tc span, .tilt-caption-tr span {
  top: 0.5em;
  bottom: auto; }

.tilt-caption-tc span, .tilt-caption-bc span {
  text-align: center; }

.tilt-caption-tl.tilt-icon-tl span, .tilt-caption-bl.tilt-icon-bl span {
  left: 2.25em; }

.tilt-caption-tr.tilt-icon-tr span, .tilt-caption-br.tilt-icon-br span {
  right: 2.25em; }

.tilt-type-xs {
  font-size: 0.625em; }

.tilt-type-s {
  font-size: 0.75em; }

.tilt-type-m {
  font-size: 0.875em; }

.tilt-type-l {
  font-size: 1em; }

.tilt-type-xl {
  font-size: 1.25em; }

.tilt .tilt-count {
  width: auto;
  height: auto;
  text-indent: 0;
  position: absolute;
  top: 50%;
  margin-top: -1.125em;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2em;
  padding: 0.5em 0; }
  .tilt .tilt-count i {
    position: static;
    margin-right: 0.25em;
    font-size: 1.125em; }

.tilt-hover {
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.375); }

.tilt-tile {
  background-color: #4096ee;
  color: #fff; }
  .tilt-tile.tilt-glass {
    color: #111;
    color: rgba(0, 0, 0, 0.75);
    background: #eee;
    background: rgba(237, 250, 255, 0.7);
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 0 5em rgba(255, 255, 255, 0.75); }
  .tilt-tile.tilt-glass-dark {
    color: #fff;
    color: rgba(255, 255, 255, 0.85);
    background: #111;
    background: rgba(12, 13, 14, 0.75);
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.75), inset 0 0 5em rgba(0, 0, 0, 0.75); }

.tilt-social-twitter, [href^='https://twitter'].tilt-tile {
  background-color: #00aced; }

.tilt-social-facebook, [href^='http://www.facebook'].tilt-tile {
  background-color: #3b5998; }

.tilt-social-google, [href^='https://plus.google'].tilt-tile {
  background-color: #dd4b39; }

.tilt-social-linkedin, [href^='http://www.linkedin'].tilt-tile {
  background-color: #007bb6; }

.tilt-social-pintrest, [href^='http://pinterest'].tilt-tile {
  background-color: #cb2027; }

.tilt-social-tumblr, [href^='http://www.tumblr'].tilt-tile {
  background-color: #32506d; }

.tilt-social-vk, [href^='https://vk.com'].tilt-tile {
  background-color: #5E82A8; }

.tilt-social-xing, [href^='https://www.xing-share'].tilt-tile {
  background-color: #175E60; }

.tilt-tile-amber {
  background-color: #f0a30a; }

.tilt-tile-brown {
  background-color: #825a2c; }

.tilt-tile-cobalt {
  background-color: #0050ef; }

.tilt-tile-crimson {
  background-color: #a20025; }

.tilt-tile-cyan {
  background-color: #1ba1e2; }

.tilt-tile-magenta {
  background-color: #d80073; }

.tilt-tile-lime {
  background-color: #a4c400; }

.tilt-tile-indigo {
  background-color: #6a00ff; }

.tilt-tile-green {
  background-color: #60a917; }

.tilt-tile-emerald {
  background-color: #008a00; }

.tilt-tile-mauve {
  background-color: #76608a; }

.tilt-tile-olive {
  background-color: #6d8764; }

.tilt-tile-orange {
  background-color: #fa6800; }

.tilt-tile-pink {
  background-color: #f472d0; }

.tilt-tile-red {
  background-color: #e51400; }

.tilt-tile-sienna {
  background-color: #7a3b3f; }

.tilt-tile-steel {
  background-color: #647687; }

.tilt-tile-teal {
  background-color: #00aba9; }

.tilt-tile-violet {
  background-color: #aa00ff; }

.tilt-tile-yellow {
  background-color: #d8c100; }

.tilt-tile-fill {
  display: block;
  position: relative;
  height: auto;
  padding-bottom: 100%; }
  .tilt-tile-fill > .tilt-tile {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto; }

.tilt-grid {
  position: relative !important;
  list-style-type: none !important;
  margin: 0;
  padding: 0 !important;
  -webkit-transition: height 0.25s;
          transition: height 0.25s; }
  .tilt-grid > li {
    box-sizing: border-box !important;
    position: absolute !important;
    left: 0;
    top: 0;
    margin: 0 !important;
    padding: 0 !important; }
  .tilt-grid > li > div {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: perspective(1000px) translateZ(-250px) rotateX(-90deg);
            transform: perspective(1000px) translateZ(-250px) rotateX(-90deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
            transition: transform 0.5s, opacity 0.25s; }
  .tilt-grid .tilt-tile {
    position: absolute;
    width: auto !important;
    height: auto !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  .tilt-grid[data-ready='true'] > li > div {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
            transition: transform 0.5s, opacity 0.25s;
    opacity: 1;
    -webkit-transform: perspective(1000px) translateZ(0) rotateX(0);
            transform: perspective(1000px) translateZ(0) rotateX(0); }
  .tilt-grid[data-ready='true']:not(.tilt-static) > li {
    -webkit-transition: -webkit-transform 0.25s;
            transition: transform 0.25s; }
  .tilt-grid li[data-tile-size='_s'] .tilt-tile.tilt-icon-center > i, .tilt-grid li[data-tile-size='|s'] .tilt-tile > i, .tilt-grid li[data-tile-size='s'] .tilt-tile > i {
    font-size: 1.5em; }
  .tilt-grid li[data-tile-size='_s'] .tilt-tile.tilt-icon-center span.tilt-count, .tilt-grid li[data-tile-size='|s'] .tilt-tile span.tilt-count, .tilt-grid li[data-tile-size='s'] .tilt-tile span.tilt-count {
    font-size: 1em;
    overflow: visible; }
  .tilt-grid li[data-tile-size='_s'] .tilt-tile.tilt-icon-center span.tilt-count ~ span, .tilt-grid li[data-tile-size='_s'] .tilt-tile.tilt-icon-center > i ~ span, .tilt-grid li[data-tile-size='|s'] .tilt-tile span.tilt-count ~ span, .tilt-grid li[data-tile-size='|s'] .tilt-tile > i ~ span, .tilt-grid li[data-tile-size='s'] .tilt-tile span.tilt-count ~ span, .tilt-grid li[data-tile-size='s'] .tilt-tile > i ~ span {
    display: none; }
  .tilt-grid li[data-tile-size='s'] .tilt-img span {
    display: none; }
  .tilt-grid[data-tile-spacing='s'] li {
    padding: 1px !important;
    padding: 0.0625rem !important; }
  .tilt-grid li, .tilt-grid[data-tile-spacing='m'] li {
    padding: 4px !important;
    padding: 0.25rem !important; }
  .tilt-grid[data-tile-spacing='l'] li {
    padding: 6px !important;
    padding: 0.375rem !important; }
  .tilt-grid[data-tile-spacing='none'] {
    margin: 0 !important; }
    .tilt-grid[data-tile-spacing='none'] li {
      padding: 0 !important; }
  .tilt-grid li[data-tile-size^='_'] img.tilt-landscape {
    height: auto;
    width: 100%;
    min-height: 100%; }
  .tilt-grid li[data-tile-size^='|'] img.tilt-portrait {
    height: 150%;
    width: auto;
    min-width: 100%; }
  .tilt-grid .tilt-img {
    display: block;
    width: 100%;
    height: 100%; }

/* Tilt Set */
.tilt-set {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.tilt-set li {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0.25em;
  font-size: 1em;
  vertical-align: top; }

.tilt-set .tilt-tile {
  display: block;
  vertical-align: bottom;
  max-width: none;
  max-height: none; }

.tilt-set-alpha > li {
  position: relative;
  width: 50%;
  padding-bottom: 50%; }

.tilt-set-alpha > li > span {
  position: absolute;
  width: auto;
  height: auto;
  right: 0.25em;
  left: 0.25em;
  top: 0.25em;
  bottom: 0.25em; }

.tilt-group .tilt-wrapper {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) translateZ(-250px) rotateX(-90deg);
          transform: perspective(1000px) translateZ(-250px) rotateX(-90deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
          transition: transform 0.5s, opacity 0.25s; }
.tilt-group[data-ready='true'] .tilt-wrapper {
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
          transition: transform 0.5s, opacity 0.25s;
  opacity: 1;
  -webkit-transform: perspective(1000px) translateZ(0) rotateX(0);
          transform: perspective(1000px) translateZ(0) rotateX(0); }

[data-tags*=About] h2, [data-tags*=About] h2 a {
  color: #B39292; }
[data-tags*=About] .caption {
  background: #B39292; }
  [data-tags*=About] .caption time {
    color: #695154; }

[data-tags*=Opinion] h2, [data-tags*=Opinion] h2 a {
  color: #F0828F; }
[data-tags*=Opinion] .caption {
  background: #F0828F; }
  [data-tags*=Opinion] .caption time {
    color: #b43b49; }

[data-tags*=Tutorial] h2, [data-tags*=Tutorial] h2 a {
  color: #A4A897; }
[data-tags*=Tutorial] .caption {
  background: #B0B69E; }
  [data-tags*=Tutorial] .caption time {
    color: #575a4e; }

[data-tags*=Resource] h2, [data-tags*=Resource] h2 a {
  color: #ECBB6C; }
[data-tags*=Resource] .caption {
  background: #ECBB6C; }
  [data-tags*=Resource] .caption time {
    color: #b47a3b; }
