.author {

	margin-bottom:3.75rem;
	font-size:1rem;
	text-align:center;


	h1 {
		font-size:1.5rem;
	}

	p {
		padding:0 2rem;
		margin:0 auto;
		max-width:30rem;
	}

	img {
		margin:0 0 1rem 0;
		min-width:5rem;
		width:15%;
		border-radius:50%;
		border:2px solid #fff;
	}

}