$pixel:.0625rem;

* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

::selection {
	color:#fff;
	background:#cc4654;
}

section,aside,article,nav,footer {
	display:block;
}

html,body {
	margin:0;
	padding:0;
}

html {
	background:#fff;
}

html,button {
	font-size:1rem;
	font-family:$family-serif;
}

html,table {
	color:#83807d;
}

body {
	line-height:1.5;
	padding:1.875rem;
}

ol,ul,li,dl,dt,dd,p {
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	padding:0;
}

a {
	color:#cc4654;
}

button {
	cursor:pointer;
}

pre {
	word-break:break-word;
}

pre, code, kbd, samp {
	font-size:.875em;
	font-family:$font-stack-mono;
}

canvas,img {
	max-width:100%;
}

// main level headings
main>section>h1 {
	@extend %screenreader;
}

// inline code snippet
:not(pre)>code {

}

// keyboard commands
kbd {
	margin:0 .25rem;;
	display:inline;
	color:#747772;
	background-color:#eceee9;
	box-shadow:0 0 0 .25rem #eceee9;
}

// computer output
samp {

}

// headers
h1,h2,h3,h4,h5,h6 {
	margin-bottom:0;
	font-weight:normal;
}

h1,h2,h3,h4,h5,h6,strong {
	color:#47413B;
}

// base layout rules
* + * {
	margin-top:1.875rem;
}

// don't count script tags as elements
script + * {
    margin-top:0;
}

// paragraphs may be a little bit closer to each other
p + p {
	margin-top:.9375rem;
}

main {
	margin-left:-1.875rem;
	margin-right:-1.875rem;
}



/*
body {
	margin:0 auto;
	padding:.9875rem;
	max-width:40rem; // equals approx. 65 characters @ 1.25rem
	font-size:1rem;
}

a {
	color:$font-color-link;

	&:hover,
	&:focus {
		color:darken($font-color-link,7%);
		background-color:lighten($font-color-link,46%);
		box-shadow:0 0 0 .25rem lighten($font-color-link,46%);
	}
}

h1,h2,h3,p,footer {
	margin:1.875rem 0;
	font-weight:normal;
}

footer,h2,h3 {
	font-family:$font-stack-sans;
}

h1 {
	font-size:2rem;
	font-style:italic;
	line-height:1.25;

	a {
		color:$font-color-text;
	}
}

h2 {
	font-size:1.333rem;
	line-height:1.333;
	color:$font-color-link;
}

h3 {
	font-size:1.125rem;
	font-weight:bold;
	text-transform:uppercase;

	a {
		color:$font-color-text;
	}
}

footer {
	margin-top:3.75rem;
	font-size:1rem;
	color:#c6c5c2;
}


h1,h3 {
	a {
		&:hover,
		&:focus {
			background-color:transparent;
			box-shadow:none;
		}
	}
}


table {
	font-family:$font-stack-sans;
	width:100%;
	border-collapse:collapse;
	text-align:center;
	//box-shadow:0 0 0 3px #F1F0ED;
}

thead {
	font-size:.875rem;
	background-color:#E2E1DF;
}

tbody {
	font-size:.75rem;
}

td,th {
	border:1px solid #CFCCC6;
	padding:.25rem;
}




// crumbs and nav
body {
	padding-bottom:3rem; // space required for nav element
}

body > nav {

	position:fixed;
	top:0;
	left:0;
	right:0;
	text-align:center;

	h1 {
		display:none;
	}

	a {
		display:inline-block;
		padding:.9875rem;
		text-decoration:none;
		vertical-align:middle;
		line-height:1;
		text-transform:lowercase;
		cursor:pointer;
		border-radius:0 0 1rem 1rem;
		background:#8EB454;
		font-size:1rem;
		text-align:center;
		color:#fff;

		&::before {
			position:absolute;
			top:0;
			left:0;
			right:0;
			background:#8EB454;
			height:.875rem;
			content:'';
		}

		&:focus,
		&:hover {
			box-shadow:none;
		}

		&:hover::before,
		&:focus::before {
			color:darken($font-color-link,7%);
			background-color:lighten($font-color-link,46%);
			box-shadow:none;
		}
	}
}

@media (min-width:$stack-width) {

	body > nav {
		position:absolute;
		top:0;
	}

}



// inline code snippet
:not(pre)>code {
	margin:0 .25rem;;
	display:inline;
	color:#747772;
	background-color:#ECEEE9;
	box-shadow:0 0 0 .333rem #ECEEE9;
}


// module loading
.js [data-module]:not([data-processed]) {
	visibility:hidden;
}


// what happens beyond stack width
@media (min-width:$stack-width) {

	body {
		padding:1.875rem;
		font-size:1.25rem;
	}

	h1 {
		font-size:2.25rem;
	}

	h2 {
		font-size:1.75rem;
	}

	h3 {
		font-size:1.5rem;
	}

	pre,code {
		font-size:.875rem;
	}

}
*/