.cinema {
    margin:1.875rem 0;
}

@media (min-width:38rem) {

    .cinema {
		box-sizing:border-box;
        position:relative;
        width:100vw;
        left:50%;
        margin-left:-50vw;
		padding:1.875rem;
		background:#F1F0ED;

		>* {
			margin:0 auto;
			max-width:65rem;
		}
    }

}