
.flickr {

	margin:0 auto -1.875rem;
	text-align:center;

    a {
		display:inline-block;
		position:relative;

        vertical-align:top;
        overflow:hidden;
        box-sizing:border-box;

		width:47.5%;
		margin:0 1.25%;
		padding-bottom:25%;
		margin-bottom:1.875rem;

		border:0;

    }

    img {
		position:absolute;

        display:block;
        max-width:none;
		height:auto;
		width:100%;
    }

}

@media (min-width:$stack-width) {

	.flickr {

		a {
			width:30%;
			padding-bottom:15%;
		}

	}


}