
.flickr {

    padding:1.875rem;

    a {
        display:inline-block;
        width:16.666%;
        border:0;
        padding:1rem;
        vertical-align:top;
        overflow:hidden;
        height:10rem;
        box-sizing:border-box;
    }

    img {
        display:block;
        width:auto;
        max-width:none;
        height:100%;
    }

}