.highlight {

    position:relative;

    + .highlight {
        margin-top:1.875rem;
    }

    pre {
        margin:0 0 0 -1.875rem;
        padding:0 0 0 1.875rem;
        word-break:break-word;
        border-left:2px dashed #DDE2DA;
        overflow:hidden;
    }

    code {

        &:before {
            display:block;
            color:#C8CCC4;
            padding-bottom:.75rem;
            margin-bottom:.75rem;
            content: '// ' attr(data-lang);
        }

    }

    // comments
    .c,.cm,.c1 {
        color:#C8CCC4;
    }

    // javascript objects and html tags
    .k,.kd,.nt {
        color:#ce3925;
    }

    // methods
    .nt,.nx {
        //color:#111;
    }

    // numbers
    .mi {
        color:#708DE9;
    }

    // strings
    .s,.s1,.s2 {
        color:#789C2A;
    }

    // operator
    .o {
        color:#C8CCC4;
    }

}

