//@import 'vendor/pygments';

.highlight {

    position:relative;
    overflow:hidden;
    margin:0 auto;
    padding:1.875rem 3.75rem;
    max-width:55rem;

    pre {
        margin:0;
        padding:0;
        word-break:break-word;
    }

    code {

        &:before {
            display:block;
            color:#B1BBC5;
            padding-bottom:.75rem;
            margin-bottom:.75rem;
            content: ' // ' attr(data-lang);
        }

    }


    // pygments
    .lineno {
        display:none;
    }

    // comments
    .c,.cm,.c1 {
        color:#B1BBC5;
    }

    // javascript objects
    .k,.kd,.na {
        color:#DB2F3C;
    }

    // methods
    .nt,.nx {
        color:#0E6CCA;
    }

    // numbers
    .mi {
        color:#C99017;
        background-color:#F8EFDF;
        padding:0 .25rem;
    }

    // string
    .s,.s1 {
        color:#5D8D08;
        background-color:#EEF6DF;
        padding:0 .125rem;
    }

    // operator
    .o {
        color:#858C94;
    }

}

