.thoughts {

    list-style-type:none;

    h1 {
        text-align:left;
        font-size:1.5rem;

		a::before {
			position:absolute;
			left:0;
			top:0;
			right:0;
			bottom:0;
			content:'';
		}
    }

	li {
		margin-bottom:1.5rem;
	}

	article {
		position:relative;
		background:#fff;
		padding:1px 1.875em;
	}

	p a {
		position:relative;
		z-index:1;
	}

}

@media (min-width:$stack-width) {

	h1 {
		margin-bottom:0;
	}

	time {
		position:absolute;
		right:100%;
		top:1.875rem;
		line-height:2;
		margin-right:1.875rem;
		white-space:nowrap;
		text-align:right;
	}

	article {
		position:relative;
		background:#fff;
		padding:1px 1.875rem;
	}

}