
.meta {

    margin-bottom:1.875rem;

    dt {
        display:none;
    }

    time {
        display:block;
        text-transform:uppercase;
        font-size:1rem;
        color:#999;
        letter-spacing:.125rem;
    }

    ul {
        list-style-type:none;
        font-size:1rem;
        font-weight:normal;
        color:#888;
    }

    li {
        display:inline;

        &:not(:last-child) {

            &::after {
                content:', '
            }
        }

    }

}