.post {

    header {
        text-align:center;
    }

    aside {

        margin-top:3.75rem;

        h1 {
            text-align:center;
        }
    }

    >div {

        h2 {

            font-style:italic;
            margin-left:-1.5rem;

            &::before {
                content: '';
                display: block;
                height: 1px;
                width: 20%;
                background: #dadada;
                margin: 0 0 1.875rem 0rem;
            }

        }

        // paragraphs
        >p:first-child {
            font-style:italic;
            margin-left:-1.5rem;
            font-size:1.5rem;
        }

        // lists
        ol,
        ul {
            margin-left:2.5rem;
            margin-right:5rem;

            ul,ol {
                margin-top:.9375rem;
                margin-right:0;
            }
        }


        li {
            margin-bottom:.9375rem;
        }

    }

}