.tweets {

    margin:0;
    padding:0 .9375rem;

    li {
        display:inline-block;
        width:33.33%;
        box-sizing:border-box;
        padding:0 .9375rem;
        vertical-align:top;
    }
}
