.tweets {

	text-align:center;
	padding:0;
	list-style-type:none;
	width:10rem;


    li {
		display:block;
		box-sizing:border-box;
		vertical-align:top;
		margin-right:.9875rem;
    }

	iframe {
		border:3px solid #e4e3df !important;
		box-shadow:none !important;
		max-width:98% !important;
	}

}

@media (min-width:30rem) {

	.tweets {

		white-space:nowrap;

		li {
			display:inline-block;
			width:50%;
			padding:0 .9375rem;
			vertical-align:middle;
		}
	}

}