%screenreader {
	display:none;
}

#__bs_notify__ {
	opacity: .25 !important;
	width:1rem;
	height:1rem;
	padding:0 !important;
	right:1rem !important;
	top:1rem !important;
	overflow: hidden;
	color:transparent !important;
	border-radius:50% !important;
	background-color:green !important;
}