section,aside,article,nav,footer {
    display:block;
}

html,body {
    margin:0;
    padding:0;
}

html {
    font-family:'Noto Serif','Times',serif;
    color:#22211D;
    background:#F1F0ED;
}

::selection {
    color:#fff;
    background:#ce3925;
}

ol,ul,li,dl,dt,dd {
    margin:0;
    padding:0;
    font-weight:normal;
}

canvas,img {
    max-width:100%;
}

pre, code {
    font-size:.875rem;
    font-family:Menlo, monospace;
    letter-spacing:.06125rem;
}

body {
    margin:0 auto;
	padding:1.875rem;
    max-width:40rem; // equals approx. 65 characters @ 1.25rem
    font-size:1.25rem;
    line-height:1.5;
    overflow-x:hidden;
}

a {
    color:#111;
}

h1,h2,h3,p,footer {
    margin:1.875rem 0;
    font-weight:normal;
}

footer,h2,h3 {
    font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1 {
    font-size:2.25rem;
    font-style:italic;
    line-height:1.25;
}

h2 {
    font-size:1.75rem;
    line-height:1.333;
    font-weight:bold;
	color:#ce3925;
}

h3 {
    font-size:1.5rem;
    text-transform:uppercase;
    letter-spacing:.06125rem;
}

footer {
    margin-top:3.75rem;
    font-size:1rem;
    color:#c6c5c2;
}



// crumbs
body > nav {

    display:none;
    margin:0 -1.5rem 3.75rem;
    font-size:1.25rem;
    text-align:left;

    h1 {
        display:none;
    }

    a {
        color:#6f93cf;
        text-decoration:none;

        &::before {
            content:'◂';
            margin-right:.25rem;
            font-family:1.5rem;
            position:relative;
            top:.125rem;
            font-size:1.5rem;
        }
    }
}




// inline code snippet
:not(pre)>code {
    padding:0 .333rem;
    display:inline-block;
    white-space:nowrap;
    color:#5F7386;
    background:#F0F3F7;
    border-radius:.25rem;
}


// module loading
.js [data-module]:not([data-initialized]) {
    visibility:hidden;
}


// components
@import 'cinema';
@import 'highlight';
@import 'flickr';
@import 'tweet';
@import 'tweets';
@import 'dataset';
@import 'meta';
@import 'products';
@import 'list-thoughts';
@import 'disqus';

// layouts
@import 'post';