$stack-width:30rem;

$font-stack-sans:Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;
$font-stack-serif:Palatino,'Noto Serif','Times',serif;
$font-stack-mono:monaco,monospace;

$font-color-text:#22211D;
$font-color-link:#ce3925;
$fill-color-back:#ECECE9;

$family-mono:monaco,monospace;
$family-serif:Palatino,'Noto Serif','Times',serif;
$family-sans-serif:Lucida Sans Unicode, Lucida Grande, Arial, sans-serif;


$twitter-text:#114872;
$twitter-fill:#6eb6ed;


$fill-color-grey:#f0f0f0;

$text-color-light:#C5C0BC;
$text-color-medium:#83807D;
$text-color-dark: #545250;

$margin-base:1.875rem;

$max-width-small:17.5rem;


// foundation
@import 'base';
@import 'modules/index';
@import 'utils';

// external
@import 'vendor/tilt';

// colors
body {

}


[data-tags*=About] {
    h2,h2 a {color:#B39292;}
    .caption {
        background:#B39292;
        time {color:#695154;}
    }
}

[data-tags*=Opinion] {
    h2,h2 a {color:#F0828F;}
    .caption {
        background:#F0828F;
        time {color:#b43b49;}
    }
}

[data-tags*=Tutorial] {
    h2,h2 a {color:#A4A897;}
    .caption {
        background:#B0B69E;
        time {color: #575a4e;}
    }
}

[data-tags*=Resource] {
    h2,h2 a {color:#ECBB6C;}
    .caption {
        background:#ECBB6C;
        time {color:#b47a3b;}
    }
}