html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
button {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

html {
  text-size-adjust: 100%;
  background: #ebeae3;
}

code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}

body {
  margin: 0;
  overflow-x: hidden;
}

p,
aside,
figcaption,
caption,
cite {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p.small {
  font-size: .75em;
  margin: 1em 0;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 34em;
}

.el-sample {
  padding: .5em;
  margin: 0 0 2em;
  background: #27262A;
  border-radius: .25em;
}

.el-sample.padded {
  padding: 1em;
}

.el-sample.inv {
  background: #EBEAE3;
}

.el-sample.hints .tilt-grid {
  border: 1px dashed #99989F;
}

.el-sample.wall {
  background: url(../../media/land-01.jpg) no-repeat center center;
}

.logo {
  text-align: center;
  background: #EBEAE3;
}

.logo h1 {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 1.25em auto 0;
  font-size: 2.5em;
  text-transform: lowercase;
  color: #77746e;
}

.logo h1:after {
  position: relative;
  top: .125em;
  font-size: .875em;
  display: inline-block;
  content: '';
  margin-top: .5em;
  margin-left: 0;
  width: 1.5em;
  height: .8em;
  text-indent: -9999em;
  overflow: hidden;
  background: -webkit-linear-gradient(300deg, #92dd50 0%, #3273ef 100%);
  background: linear-gradient(150deg, #92dd50 0%, #3273ef 100%);
  -webkit-transform: perspective(125px) rotateY(-45deg);
  -ms-transform: perspective(125px) rotateY(-45deg);
  transform: perspective(125px) rotateY(-45deg);
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

ul ul {
  margin-left: 1em;
}

li {
  margin-bottom: .25em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
pre {
  margin: 0 0 1rem 0;
}

h1,
h2 {
  text-transform: capitalize;
  font-family: 'Palatino','Georgia',serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

h2 i {
  margin-right: .25em;
}

a {
  text-decoration: underline;
}

.iframe-wrapper {
  margin: 0 -.5em;
}

iframe {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  width: 100%;
  border: none;
}

button {
  position: relative;
  float: right;
  margin: -2.925em 0 .5em .25em;
  padding: .25em .5em .333em;
  border-radius: .25em;
  border: none;
  font-size: .875em;
  font-family: 'Lucida Grande','Arial Unicode MS',Arial, sans-serif;
  color: #99989f;
  background: #27262a;
  z-index: 1;
  outline: none;
  cursor: pointer;
}

pre {
  display: block;
  margin-bottom: 2em;
  background: #27262a;
  text-align: left;
  border-radius: .25em;
  white-space: pre-wrap;
}

code {
  font-family: 'Consolas','Lucida Sans Typewriter', 'Lucida Console', 'Bitstream Vera Sans Mono', monospace;
  font-size: .875em;
  color: #99989f;
  background: #3a393f;
  margin: 0;
  padding: .25em .375em;
  border-radius: .25em;
}

pre code {
  display: block;
  color: #eee;
  padding: .333em .5em;
  background: transparent;
  word-wrap: break-word;
  border-radius: 0;
}

p code {
  display: inline-block;
  padding: .25em .5em .25em;
  white-space: nowrap;
}

iframe + .highlight pre {
  border-radius: 0 0 .25em .25em;
}

iframe + .highlight code {
  padding: 0 1em 1em;
}

iframe + .highlight {
  margin-bottom: 4em;
}

.content > section {
  padding: 1.5em;
}

[id]:before {
  display: block;
  content: '';
  margin-top: -64px;
  height: 64px;
  visibility: hidden;
}

:target:not(section) {
  color: #f1fdff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes wobbl {
  0% {
    -webkit-transform: perspective(500px) rotateZ(0deg);
    transform: perspective(500px) rotateZ(0deg);
  }

  3% {
    -webkit-transform: perspective(500px) rotateZ(5deg);
    transform: perspective(500px) rotateZ(5deg);
  }

  6% {
    -webkit-transform: perspective(500px) rotateZ(-5deg);
    transform: perspective(500px) rotateZ(-5deg);
  }

  8% {
    -webkit-transform: perspective(500px) rotateZ(3deg);
    transform: perspective(500px) rotateZ(3deg);
  }

  10% {
    -webkit-transform: perspective(500px) rotateZ(-3deg);
    transform: perspective(500px) rotateZ(-3deg);
  }

  11% {
    -webkit-transform: perspective(500px) rotateZ(2deg);
    transform: perspective(500px) rotateZ(2deg);
  }

  12% {
    -webkit-transform: perspective(500px) rotateZ(-1deg);
    transform: perspective(500px) rotateZ(-1deg);
  }

  13% {
    -webkit-transform: perspective(500px) rotateZ(0deg);
    transform: perspective(500px) rotateZ(0deg);
  }

  50% {
    -webkit-transform: perspective(500px) rotateX(0deg);
    transform: perspective(500px) rotateX(0deg);
  }

  53% {
    -webkit-transform: perspective(500px) rotateX(10deg);
    transform: perspective(500px) rotateX(10deg);
  }

  56% {
    -webkit-transform: perspective(500px) rotateX(-10deg);
    transform: perspective(500px) rotateX(-10deg);
  }

  58% {
    -webkit-transform: perspective(500px) rotateX(6deg);
    transform: perspective(500px) rotateX(6deg);
  }

  60% {
    -webkit-transform: perspective(500px) rotateX(-6deg);
    transform: perspective(500px) rotateX(-6deg);
  }

  61% {
    -webkit-transform: perspective(500px) rotateX(4deg);
    transform: perspective(500px) rotateX(4deg);
  }

  62% {
    -webkit-transform: perspective(500px) rotateX(-2deg);
    transform: perspective(500px) rotateX(-2deg);
  }

  63% {
    -webkit-transform: perspective(500px) rotateX(0deg);
    transform: perspective(500px) rotateX(0deg);
  }

  80% {
    -webkit-transform: perspective(500px) rotateY(0deg);
    transform: perspective(500px) rotateY(0deg);
  }

  83% {
    -webkit-transform: perspective(500px) rotateY(10deg);
    transform: perspective(500px) rotateY(10deg);
  }

  86% {
    -webkit-transform: perspective(500px) rotateY(-10deg);
    transform: perspective(500px) rotateY(-10deg);
  }

  88% {
    -webkit-transform: perspective(500px) rotateY(6deg);
    transform: perspective(500px) rotateY(6deg);
  }

  90% {
    -webkit-transform: perspective(500px) rotateY(-6deg);
    transform: perspective(500px) rotateY(-6deg);
  }

  91% {
    -webkit-transform: perspective(500px) rotateY(4deg);
    transform: perspective(500px) rotateY(4deg);
  }

  92% {
    -webkit-transform: perspective(500px) rotateY(-2deg);
    transform: perspective(500px) rotateY(-2deg);
  }

  93% {
    -webkit-transform: perspective(500px) rotateY(0deg);
    transform: perspective(500px) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(500px) rotateY(0deg);
    transform: perspective(500px) rotateY(0deg);
  }
}

@keyframes wobbl {
  0% {
    -webkit-transform: perspective(500px) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateZ(0deg);
    transform: perspective(500px) rotateZ(0deg);
  }

  3% {
    -webkit-transform: perspective(500px) rotateZ(5deg);
    -ms-transform: perspective(500px) rotateZ(5deg);
    transform: perspective(500px) rotateZ(5deg);
  }

  6% {
    -webkit-transform: perspective(500px) rotateZ(-5deg);
    -ms-transform: perspective(500px) rotateZ(-5deg);
    transform: perspective(500px) rotateZ(-5deg);
  }

  8% {
    -webkit-transform: perspective(500px) rotateZ(3deg);
    -ms-transform: perspective(500px) rotateZ(3deg);
    transform: perspective(500px) rotateZ(3deg);
  }

  10% {
    -webkit-transform: perspective(500px) rotateZ(-3deg);
    -ms-transform: perspective(500px) rotateZ(-3deg);
    transform: perspective(500px) rotateZ(-3deg);
  }

  11% {
    -webkit-transform: perspective(500px) rotateZ(2deg);
    -ms-transform: perspective(500px) rotateZ(2deg);
    transform: perspective(500px) rotateZ(2deg);
  }

  12% {
    -webkit-transform: perspective(500px) rotateZ(-1deg);
    -ms-transform: perspective(500px) rotateZ(-1deg);
    transform: perspective(500px) rotateZ(-1deg);
  }

  13% {
    -webkit-transform: perspective(500px) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateZ(0deg);
    transform: perspective(500px) rotateZ(0deg);
  }

  50% {
    -webkit-transform: perspective(500px) rotateX(0deg);
    -ms-transform: perspective(500px) rotateX(0deg);
    transform: perspective(500px) rotateX(0deg);
  }

  53% {
    -webkit-transform: perspective(500px) rotateX(10deg);
    -ms-transform: perspective(500px) rotateX(10deg);
    transform: perspective(500px) rotateX(10deg);
  }

  56% {
    -webkit-transform: perspective(500px) rotateX(-10deg);
    -ms-transform: perspective(500px) rotateX(-10deg);
    transform: perspective(500px) rotateX(-10deg);
  }

  58% {
    -webkit-transform: perspective(500px) rotateX(6deg);
    -ms-transform: perspective(500px) rotateX(6deg);
    transform: perspective(500px) rotateX(6deg);
  }

  60% {
    -webkit-transform: perspective(500px) rotateX(-6deg);
    -ms-transform: perspective(500px) rotateX(-6deg);
    transform: perspective(500px) rotateX(-6deg);
  }

  61% {
    -webkit-transform: perspective(500px) rotateX(4deg);
    -ms-transform: perspective(500px) rotateX(4deg);
    transform: perspective(500px) rotateX(4deg);
  }

  62% {
    -webkit-transform: perspective(500px) rotateX(-2deg);
    -ms-transform: perspective(500px) rotateX(-2deg);
    transform: perspective(500px) rotateX(-2deg);
  }

  63% {
    -webkit-transform: perspective(500px) rotateX(0deg);
    -ms-transform: perspective(500px) rotateX(0deg);
    transform: perspective(500px) rotateX(0deg);
  }

  80% {
    -webkit-transform: perspective(500px) rotateY(0deg);
    -ms-transform: perspective(500px) rotateY(0deg);
    transform: perspective(500px) rotateY(0deg);
  }

  83% {
    -webkit-transform: perspective(500px) rotateY(10deg);
    -ms-transform: perspective(500px) rotateY(10deg);
    transform: perspective(500px) rotateY(10deg);
  }

  86% {
    -webkit-transform: perspective(500px) rotateY(-10deg);
    -ms-transform: perspective(500px) rotateY(-10deg);
    transform: perspective(500px) rotateY(-10deg);
  }

  88% {
    -webkit-transform: perspective(500px) rotateY(6deg);
    -ms-transform: perspective(500px) rotateY(6deg);
    transform: perspective(500px) rotateY(6deg);
  }

  90% {
    -webkit-transform: perspective(500px) rotateY(-6deg);
    -ms-transform: perspective(500px) rotateY(-6deg);
    transform: perspective(500px) rotateY(-6deg);
  }

  91% {
    -webkit-transform: perspective(500px) rotateY(4deg);
    -ms-transform: perspective(500px) rotateY(4deg);
    transform: perspective(500px) rotateY(4deg);
  }

  92% {
    -webkit-transform: perspective(500px) rotateY(-2deg);
    -ms-transform: perspective(500px) rotateY(-2deg);
    transform: perspective(500px) rotateY(-2deg);
  }

  93% {
    -webkit-transform: perspective(500px) rotateY(0deg);
    -ms-transform: perspective(500px) rotateY(0deg);
    transform: perspective(500px) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(500px) rotateY(0deg);
    -ms-transform: perspective(500px) rotateY(0deg);
    transform: perspective(500px) rotateY(0deg);
  }
}

.wrapper > .tile {
  margin: 2.75em 1em 1em 1em;
  float: right;
}

.wrapper > .tile:not([style]) {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: wobbl;
  animation-name: wobbl;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

/*
 * Code sample
 */

.code-sample,
.code-sample dt,
.code-sample dd {
  margin: 0;
  padding: 0;
}

.code-sample dt {
  color: #58575F;
  text-align: right;
  margin-bottom: .25em;
  font-weight: normal;
  font-size: .875em;
  font-family: 'Consolas','Lucida Sans Typewriter', 'Lucida Console', 'Bitstream Vera Sans Mono', monospace;
}

/*
 * Demo & Readme
 */

.demo {
  color: #99968f;
  text-align: left;
}

.demo > h1,
.demo > section > h1,
.demo > section > h2 {
  color: #77746e;
}

.demo > section > h2 {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
}

.demo a {
  color: #99968F;
}

.demo .tilts {
  padding: 1em 0;
  margin: 1em 0 0;
}

.demo > section:after {
  display: table;
  clear: both;
  content: '';
}

/*
 * Doc
 */

.docs {
  color: #99989f;
  text-align: left;
  background: #2f2e33;
}

.docs a {
  color: #99989f;
}

nav ul ul li:before {
  content: '- ';
}

/*
 * Social
 */

.social a {
  text-decoration: none;
}

/*
 * Rights

.rights:after {
    clear:both;
    display:table;
    content:'';
}

.rights .user {
    float:left;
    width:50%;
}
*/

/*
 * Buy
 */

a.buy {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: inline-block;
  color: #fff;
  padding: .5em .6875em;
  font-weight: normal;
  background: #4096ee;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}

a.buy span {
  font-weight: bold;
}

a.buy:hover {
  background: #3c85ee;
}

/* custom styling for tiles */

.tilt-grid a {
  color: #fff;
}

.tilt-set {
  text-align: left;
}

/* list*/

.news li {
  max-width: 25em;
}

.news li div {
  position: relative;
  padding: 0 0 0 4em;
  margin-bottom: .75em;
  background: #fff;
  overflow: hidden;
}

.news li h3 {
  position: relative;
  padding: .75em .5em .75em 1em;
  margin: 0;
  font-size: .875em;
  color: #4c4c4c;
  background: #fff;
  z-index: 2;
}

.news li img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
}

/* helper */

.visuallyhidden {
  position: absolute;
  left: -9999em;
  top: -9999em;
  width: 1px;
  height: 1px;
}

/* layouting */

@media screen and (min-width: 50em) {
  .logo {
    height: 0;
    max-width: 62em;
    padding: 0 3em;
    margin: 0 auto;
    text-align: left;
    background: transparent;
  }

  .logo h1 {
    margin-top: .75em;
    margin-left: 0;
    font-size: 3em;
  }

  a.buy {
    position: fixed;
    padding: .333em .6875em;
    right: 3em;
    left: auto;
    border-radius: 0 0 .25em .25em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .content {
    display: table;
    width: 100%;
  }

  .content > section {
    display: table-cell;
    vertical-align: top;
    padding: 9em 3em 2em;
    width: 50%;
  }

  .content .wrapper {
    float: left;
    max-width: 28em;
  }

  .content > section:first-child .wrapper {
    float: right;
  }

  .social ul {
    display: table;
    width: 100%;
  }

  .social li {
    width: 33.33%;
    display: table-cell;
  }

  .social li:before {
    margin: 0;
    content: '';
  }
}

/* Tomorrow Night Eighties Theme */

/* Original theme - https://github.com/chriskempson/tomorrow-theme */

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

.hljs-comment {
  color: #99989F;
}

/* Tomorrow Red */

.hljs-title,
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #699DD2;
}

/* Tomorrow Orange */

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f99157;
}

/* Tomorrow Yellow */

.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #fff;
}

/* Tomorrow Green */

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #CAEEA5;
}

/* Tomorrow Aqua */

.css .hljs-hexcolor {
  color: #66cccc;
}

/* Tomorrow Blue */

.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #6699cc;
}

/* Tomorrow Purple */

.hljs-keyword,
.javascript .hljs-function {
  color: #cc99cc;
}

.hljs {
  display: block;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

/* line 7, ../sass/lightbox.sass */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 28, ../sass/lightbox.sass */

.lightbox .lb-image {
  display: block;
  height: auto;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 32, ../sass/lightbox.sass */

.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */

.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */

.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */

.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */

.lb-prev,
.lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */

.lb-prev {
  left: 0;
  float: left;
}

/* line 87, ../sass/lightbox.sass */

.lb-prev:hover {
  background: url(../img/prev.png) left 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */

.lb-next {
  right: 0;
  float: right;
}

/* line 93, ../sass/lightbox.sass */

.lb-next:hover {
  background: url(../img/next.png) right 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */

.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}

/* line 106, ../sass/lightbox.sass */

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 111, ../sass/lightbox.sass */

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 115, ../sass/lightbox.sass */

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 121, ../sass/lightbox.sass */

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 130, ../sass/lightbox.sass */

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}