html,body {
    margin:0;
    padding:0;
}

html,body,button {
    font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    line-height:1.4;
}

html {
    text-size-adjust:100%;
    background:#ebeae3;
}

code,
kbd,
pre,
samp {
    font-family:monospace,serif;
    font-size:1em;
}

body {
    margin:0;
    overflow-x:hidden;
}

p,aside,figcaption,caption,cite{
    hyphens:auto;
}

p.small {
    font-size:.75em;
    margin:1em 0;
    text-align:center;
}

.wrapper {
    margin:0 auto;
    max-width:34em;
}

.el-sample {
    padding:.5em;
    margin:0 0 2em;
    background:#27262A;
    border-radius:.25em;

    &.padded {
        padding:1em;
    }

    &.inv {
        background:#EBEAE3;
    }


    &.hints .tilt-grid {
        border:1px dashed #99989F;
    }

    &.wall {
        background:url(../../media/land-01.jpg) no-repeat center center;
    }
}



.logo {
    text-align:center;
    background:#EBEAE3;

    h1 {
        display:inline-block;
        position:relative;
        z-index:1;
        margin:1.25em auto 0;
        font-size:2.5em;
        text-transform:lowercase;
        color:#77746e;

        &:after {
            position:relative;
            top:.125em;
            font-size:.875em;
            display:inline-block;
            content:'';
            margin-top:.5em;
            margin-left:0;
            width:1.5em;
            height:.8em;
            text-indent:-9999em;
            overflow:hidden;
            background:linear-gradient(150deg, #92dd50 0%, #3273ef 100%);
            transform:perspective(125px) rotateY(-45deg);
        }
    }
}

ul,li {
    margin:0;
    padding:0;
}

ul {
    list-style-type:none;
}

ul ul {
    margin-left:1em;
}

li {
    margin-bottom:.25em;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dl,pre {
    margin:0 0 1rem 0;
}

h1,h2 {
    text-transform:capitalize;
    font-family:'Palatino','Georgia',serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
}

h1 a,
h2 a,
h3 a,
h4 a {
    text-decoration:none;
}

h1 {
    font-size:1.75em;
}

h2 {
    font-size:1.25em;
}

h3 {
    font-size:1.125em;
}

h2 i {
    margin-right:.25em;
}

a {
    text-decoration:underline;
}

.iframe-wrapper {
    margin:0 -.5em;
}

iframe {
    display:block;
    box-sizing:border-box;
    clear:both;
    width:100%;
    border:none;
}

button {
    position:relative;
    float:right;
    margin:-2.925em 0 .5em .25em;
    padding:.25em .5em .333em;
    border-radius:.25em;
    border:none;
    font-size:.875em;
    font-family:'Lucida Grande','Arial Unicode MS',Arial, sans-serif;
    color:#99989f;
    background:#27262a;
    z-index:1;
    outline:none;
    cursor:pointer;
}

pre {
    display:block;
    margin-bottom:2em;
    background:#27262a;
    text-align:left;
    border-radius:.25em;
    white-space:pre-wrap;
}

code {
    font-family:'Consolas','Lucida Sans Typewriter', 'Lucida Console', 'Bitstream Vera Sans Mono', monospace;
    font-size:.875em;
    color:#99989f;
    background:#3a393f;
    margin:0;
    padding:.25em .375em;
    border-radius:.25em;
}

pre code {
    display:block;
    color:#eee;
    padding:.333em .5em;
    background:transparent;
    word-wrap:break-word;
    border-radius:0;
}

p code {
    display:inline-block;
    padding:.25em .5em .25em;
    white-space:nowrap;
}

iframe+.highlight pre {
    border-radius:0 0 .25em .25em;
}

iframe+.highlight code {
    padding:0 1em 1em;
}

iframe+.highlight {
    margin-bottom:4em;
}

.content>section {
    padding:1.5em;
}

[id]:before {
    display:block;
    content:'';
    margin-top:-64px;
    height:64px;
    visibility:hidden;
}

:target:not(section) {
    color:#f1fdff;
    text-shadow:0 0 5px rgba(255,255,255,.5);
}




@keyframes wobbl {

    0% {
        transform:perspective(500px) rotateZ(0deg);
    }

    3% {
        transform:perspective(500px) rotateZ(5deg);
    }

    6% {
        transform:perspective(500px) rotateZ(-5deg);
    }

    8% {
        transform:perspective(500px) rotateZ(3deg);
    }

    10% {
        transform:perspective(500px) rotateZ(-3deg);
    }

    11% {
        transform:perspective(500px) rotateZ(2deg);
    }

    12% {

        transform:perspective(500px) rotateZ(-1deg);
    }

    13% {
        transform:perspective(500px) rotateZ(0deg);
    }





    50% {
        transform:perspective(500px) rotateX(0deg);
    }

    53% {
        transform:perspective(500px) rotateX(10deg);
    }

    56% {
        transform:perspective(500px) rotateX(-10deg);
    }

    58% {
        transform:perspective(500px) rotateX(6deg);
    }

    60% {
        transform:perspective(500px) rotateX(-6deg);
    }

    61% {
        transform:perspective(500px) rotateX(4deg);
    }

    62% {

        transform:perspective(500px) rotateX(-2deg);
    }

    63% {
        transform:perspective(500px) rotateX(0deg);
    }





    80% {
        transform:perspective(500px) rotateY(0deg);
    }

    83% {
        transform:perspective(500px) rotateY(10deg);
    }

    86% {
        transform:perspective(500px) rotateY(-10deg);
    }

    88% {
        transform:perspective(500px) rotateY(6deg);
    }

    90% {
        transform:perspective(500px) rotateY(-6deg);
    }

    91% {
        transform:perspective(500px) rotateY(4deg);
    }

    92% {
        transform:perspective(500px) rotateY(-2deg);
    }

    93% {
        transform:perspective(500px) rotateY(0deg);
    }



    100% {
        transform:perspective(500px) rotateY(0deg);
    }
}


.wrapper>.tile {

    margin:2.75em 1em 1em 1em;
    float:right;

    &:not([style]) {
        animation-timing-function:ease-in-out;
        animation-name:wobbl;
        animation-duration:5s;
        animation-delay:2s;
        animation-iteration-count:3;
    }
}

.tile .tilt-tile {
   // color:#EBEAE3;
   // background:#99968F;
}


/*
 * Code sample
 */
.code-sample,
.code-sample dt,
.code-sample dd {
    margin:0;
    padding:0;
}

.code-sample dt {
    color:#58575F;
    text-align:right;
    margin-bottom:.25em;
    font-weight:normal;
    font-size:.875em;
    font-family:'Consolas','Lucida Sans Typewriter', 'Lucida Console', 'Bitstream Vera Sans Mono', monospace;
}

.code-sample .highlight {
   // margin:0 -.5em;
}



/*
 * Demo & Readme
 */
.demo {
    color:#99968f;
    text-align:left;
}


/*
.demo>p {
    margin-left:2em;
}
*/

.demo>h1,
.demo>section>h1,
.demo>section>h2 {
    color:#77746e;
}

.demo>section>h2 {
    margin-top:0;
    margin-bottom:1em;
    text-align:center;
}

.demo a {
    color:#99968F;
}

.demo .tilts {
    padding:1em 0;
    margin:1em 0 0;
}

.demo>section:after {
    display:table;
    clear:both;
    content:'';
}



/*
 * Doc
 */
.docs {
    color:#99989f;
    text-align:left;
    background:#2f2e33;
}

.docs a {
    color:#99989f;
}

nav ul ul li:before {
    content:'- ';
}



/*
 * Social
 */
.social a {
    text-decoration:none;
}


/*
 * Rights

.rights:after {
    clear:both;
    display:table;
    content:'';
}

.rights .user {
    float:left;
    width:50%;
}
*/


/*
 * Buy
 */
a.buy {
    position:absolute;
    right:0;
    left:0;
    top:0;
    display:inline-block;
    color:#fff;
    padding:.5em .6875em;
    font-weight:normal;
    background:#4096ee;
    text-decoration:none;
    text-align:center;
    text-transform:uppercase;
    z-index:10;
}

a.buy span {
    font-weight:bold;
}

a.buy:hover {
    background:#3c85ee;
}



/* custom styling for tiles */
.tilt-grid a {
    color:#fff;
}
.tilt-set {
    text-align:left;
}



/* list*/
.news li {

    max-width:25em;

    div {
        position:relative;
        padding:0 0 0 4em;
        margin-bottom:.75em;
        background:#fff;
        overflow:hidden;
    }

    h3 {
        position:relative;
        padding:.75em .5em .75em 1em;
        margin:0;
        font-size:.875em;
        color:#4c4c4c;
        background:#fff;
        z-index:2;
    }

    img {
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        height:100%;
        z-index:1;
    }

}



/* helper */
.visuallyhidden {
    position:absolute;
    left:-9999em;
    top:-9999em;
    width:1px;
    height:1px;
}


/* layouting */
/*
@media screen and (min-width:36em) {

.docs nav>ul {
    display:table;
    width:100%;
}

.docs nav>ul>li {
    display:table-cell;
}

}
*/

@media screen and (min-width:50em) {

    .logo {
        height:0;
        max-width:62em;
        padding:0 3em;
        margin:0 auto;
        text-align:left;
        background:transparent;

        h1 {
            margin-top:.75em;
            margin-left:0;
            font-size:3em;
        }
    }

    a.buy {
        position:fixed;
        padding:.333em .6875em;
        right:3em;
        left:auto;
        border-radius:0 0 .25em .25em;
        box-shadow:0 0 5px rgba(0,0,0,.5);
    }

    .content {

        display:table;
        width:100%;

        >section {
            display:table-cell;
            vertical-align:top;
            padding:9em 3em 2em;
            width:50%;
        }

        .wrapper {
            float:left;
            max-width:28em;
        }

        >section:first-child .wrapper {
            float:right;
        }

    }

    .social ul {
        display:table;
        width:100%;
    }

    .social li {
        width:33.33%;
        display:table-cell;
    }

    .social li:before {
        margin:0;
        content:'';
    }

}





@import 'hljs';

@import 'lightbox';