<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimal-ui">

    <meta name="author" content="Rik Schennink">
    <meta name="description" content="{{ page.title }}">

    {% if page.id %}
    <title>{{ page.title }} &bull; Rik Schennink</title>
    {% else %}
    <title>{{ page.title }}</title>
    {% endif %}

    <script>
        document.documentElement.className = 'js';
        var cb = function() {
            var l = document.createElement('link'); l.rel = 'stylesheet';
            l.href = '/static/css/styles.css';
            var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(cb);
        else window.addEventListener('load', cb);
    </script>
    <noscript>
        <link href="/static/css/styles.css" rel="stylesheet">
    </noscript>

</head>
<body>

{{ content }}

<script src="/static/js/vendor/jrburke/require.js" data-main="/static/js/main"></script>

</body>
</html>
