---
layout: thought
---
<article class="post">

    <header>
        <h1>{{ page.title }}</h1>
        <dl class="meta">
            <dt>Date</dt>
            <dd><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{% assign d = page.date | date: "%-d"  %}{{ page.date | date: "%B" }} {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ page.date | date: "%Y" }}</time></dd>
        </dl>
    </header>

    <div>
    {{ content }}
    </div>

    {% include comments.html %}

</article>