
// foundation
@import 'base/variables';
@import 'base/helpers';
@import 'base/elements';

// own modules
@import 'modules/author';
@import 'modules/caption';
@import 'modules/post';
@import 'modules/thoughts';
@import 'modules/highlight';
@import 'modules/flickr';
@import 'modules/tweet';
@import 'modules/dataset';

// layout
@import 'layout/nav';
@import 'layout/footer';

// colors
@each $category in $categories {

  $name: map-get($category,name);
  $light: map-get($category,light);
  $dark: map-get($category,dark);

  [data-tags*='#{$name}'] {
    h2,h2 a {color:$light;}
    .caption {
      background:$light;
      time {color:$dark;}
    }
	blockquote{border-color:$light;}
  }

}