.highlight {

    position:relative;
	margin-left:-$margin-base;
	//margin-right:-$margin-base;
	overflow:hidden;
	padding-left:$margin-base;
	padding-top:$margin-base;

    + .highlight {
        margin-top:$margin-base;
    }

    code {

        &:before {
            position:absolute;
            color:#fff;
			padding:.25rem .5rem;
			left:0;
			top:0;
			background:#98B656;
            content: '// ' attr(data-lang);
        }

    }

    // comments
    .c,.cm,.c1 {
        color:#C8CCC4;
    }

    // javascript objects and html tags
    .k,.kd,.nt {
        color:#ce3925;
    }

    // methods
    .nt,.nx {
        //color:#111;
    }

    // numbers
    .mi {
        color:#708DE9;
    }

    // strings
    .s,.s1,.s2 {
        color:#789C2A;
    }

    // operator
    .o {
        color:#C8CCC4;
    }

}

