nav {

	&,a {
		margin:0;
	}

	a {
		display:block;
		width:$margin-base * 2;
		height:$margin-base * 2;
		background:#f2ece9;
		color:transparent;
		font-size:0;

		transform:scaleX(-1);
		background-image:url(../assets/arrow.svg);
		background-repeat:no-repeat;
		background-size:1.25rem 1.25rem;
		background-position:center center;
	}

	h1 {
		@extend %screenreader;
	}

}