.post {

	header {

        position:relative;
        margin:$margin-base -$margin-base;

        /*
        margin:-$margin-base
			   -1.875rem
				1.875rem
				3.75rem;


        */
        &::before {
			position: absolute;
            left: -1.875rem;
            right: 0;
            bottom: 0;
            content: '';
            background-color: #F2ECE9;
            height: $margin-base;
            z-index: -1;
        }
        
	}

	.caption {

		font-size:1.25em;
        margin-left:3.75rem;
        margin-right:-1.875rem;
		padding-right:1.875rem;

		> * {
			align-self:flex-end;
		}
	}

    .meta {
        //margin-top:$margin-base;
    }

	>div {

		// opening paragraph
		>p:first-child {
            position:relative;
            z-index:1;
            margin-top:-1.875rem;
            margin-left:-1.875rem;
            margin-bottom:1.875rem;
			margin-right:1.875rem;
            padding:1.875rem;
            color:#9D938C;
            background-color:#f2ece9;
			font-family:$family-serif;
            //font-style:italic;
		}

		// lists
		>ol,
		>ul {
			margin-left:1em;
			margin-right:10%;

			ul,ol {
				margin-right:0;
				margin-left:1.875rem;
			}

			>li {
				margin-bottom:.9375rem;
			}
		}

	}

	aside {

		h1 {
			margin-top:0;
			color:#9D938C;
			font-size:1.25em;
			font-family: $family-sans-serif;
		}

		margin-right:-1.875rem;
		padding: 1.875rem;
		background: #f2ece9;
	}

}


