
$transition:transform .5s ease-in-out;

.thoughts {

	&,>li {
		padding:0;
		list-style-type:none;
	}

	.caption {

		margin-right:3.75rem;
		padding-right:1.875rem;

		font-size:1em;
	}

	a::after {
		right:1.875rem;
	}

	p {
		@extend %intro;
		margin-left:1.875rem;
		margin-right:3.75rem;
	}

	>li {
		position:relative;
		display:block;
		margin-bottom:1.875rem;
	}
}

// if javascript is enabled
/*
.js .thoughts {

	.intro {
		box-sizing:border-box;
		position:absolute;
		top:-1rem;
		left:0;
		width:100%;
		padding-bottom:3.75rem;
		margin:0 0 0 -2.5rem;
		background:#fff;
		transform-origin:left top;
		transform:translateX(100%) scale(.5);
		transition:$transition;
		cursor:pointer;
	}

	p {
		opacity:.7;
		margin:0;
		padding-top:$margin-base;
		padding-left:$margin-base;
		padding-right:$margin-base;
	}



}
*/