.thoughts {

    $background-color:#f2ece9;

	&,>li {
		padding:0;
		list-style-type:none;
	}

	.caption {
		margin-right:3.75rem;
		padding-right:1.875rem;
        font-size:1.125em;
	}

	p {
        position:relative;
        z-index:1;
        color:#9D938C;
        font-family:$family-serif;
        padding:1.875rem 5.625rem 3.75rem 1.875rem;
        margin:0 0 -3.75rem 0;
        background:$background-color;
	}

	>li {

		position:relative;
        z-index:1;
		display:block;
		margin-bottom:1.875rem;

        // makes entire element clickable
        a::before {
            position:absolute;
            content:'';
            left:0;
            top:0;
            right:0;
            bottom:0;
            z-index:2;
        }

        // takes care of arrow block
        a::after {
            position:absolute;
            width:3.75rem;
            height:3.75rem;
            right:0;
            bottom:0;
            background-image:url(../assets/arrow.svg);
            background-repeat:no-repeat;
            background-size:1.25rem 1.25rem;
            background-position:center center; //1rem;
            content:'';
            z-index:2;
        }

        &:first-child a::after {
            background-color:$background-color;
            bottom:auto;
            top:auto;
            margin-top:-2.25rem;
            background-position:center top 1.5rem;
        }

	}

}