.author {

	h1, p, span, a {
		margin:0;
	}

	h1 {
		font-size:1em;
		color:$text-color-medium;
	}

	p {
		font-family:$family-serif;
		font-style:italic;
		color:$text-color-light;
		text-transform:lowercase;
	}

	img {
		display:block;
		width:6.25rem;
		height:auto;
		vertical-align:top;
		background:#e3e4c8;
	}

	a {
		display:inline-block;
		padding:.5em .75em;
		color:$twitter-text;
		background:$twitter-fill;
		font-size:.75em;
		text-decoration:none;
	}

}

body>.author {

	margin-bottom:3.75rem;
	font-size:1.125em;

	a {
		position:absolute;
		bottom:1.875rem;
		left:50%;
		transform:translateX(-50%);
		text-align:center;
	}

	h1 {
		margin-top:-.25rem;
	}

	.avatar {
		position:absolute;
		top:0;
		left:11.25rem;
		right:3.75rem;
		min-width:4.375rem;
		max-width:6.25rem;
	}

	img {
		width:100%;
		height:auto;
	}

	@media (min-width:25rem) {


		p {
			margin-bottom:-.375rem;
		}

	}

	@media (min-width:30rem) {

		margin-left:18rem;

	}

	@media (min-width:33rem) {

		//font-size:1.25em;

		p {
			margin-bottom:-.75rem;
		}

	}

	@media (min-width:38rem) {

		// space between thoughts and author block
		margin-bottom:7.5rem;
		padding-bottom: 1.125rem;

		.avatar {
			left:32rem;
			right:0;
		}

	}

}
