.author {

	//max-width:$max-width-small;
	margin-bottom: 3.75rem;

	h1,p,span {
		margin:0;
	}

	h1 {
		font-size:1em;
		color:$text-color-medium;
	}

	p {
		font-family:$family-serif;
		font-style:italic;
		color:$text-color-light;
		text-transform:lowercase;
	}

	img {
		vertical-align:top;
		background:#e3e4c8;
	}

	a {
		text-decoration:none;
		display:inline-block;
		padding:.5rem .75rem;
		color:$twitter-text;
		background:$twitter-fill;
		font-size:.75em;

		display: none;
	}


	// small screen
	h1 {
		margin-top:-.25rem;
	}

	.avatar {
		position:absolute;
		top:0;
		left:11.25rem;
		right:3.75rem;
		min-width:4.375rem;
		max-width:6.25rem;
	}

	img {
		display:block;
		width:100%;
		height:auto;
	}

	@media (min-width:25rem) {

		font-size:1.125em;

		p {
			margin-bottom:-.375rem;
		}

	}

	@media (min-width:33rem) {

		font-size:1.25em;

		h1,p {
			margin-left:18rem;
		}

		p {
			margin-bottom:-.75rem;
		}

	}

}
