.caption {

	display:flex;
	padding-left:1.875rem;
	flex-direction:column-reverse;
	font-size:1em;
	font-family:$family-sans-serif;
	box-sizing:border-box;

	min-width:16.25rem;
	max-width:17.5rem;

	a,h1 {
		display:block;
		color:#fff;
		margin:-0.25em 0 -0.3em;
		line-height:1.25;
		font-weight:normal;
	}

	a {
		text-decoration:none;
	}

	dt {
		@extend %screenreader;
	}

	time {
		text-transform:uppercase;
	}

	.meta {
		margin:.5rem 0 1.25rem;
		line-height:1;
	}

	a,h1 {
		font-size:1.333em;
		max-width: 15rem;
	}

	time {
		font-size:.875em;
	}

}

.caption {
	&[data-tags*=About] {
		background:#B0B69E;
		time {color: #575a4e;}
		+p::after {border-color:#B0B69E;}
	}

    &[data-tags*=Opinion] {
        background:#e76e7c;
        time {color:#b43b49;}
		+p::after {border-color:#E59BA3;}
    }

    &[data-tags*=Tutorial] {
        background:#825252;
        time {color:#361b1e;}
		+p::after {border-color:#A17575;}
    }

    &[data-tags*=Resource] {
        background:#E5AA4B;
        time {color:#b47a3b;}
		+p::after {border-color:#E7BF80;}
    }
}