.highlight {

    position:relative;

	margin-left:-$margin-base;
	margin-right:-$margin-base;

	overflow:hidden;
	padding:2.5rem $margin-base 0;

    + .highlight {
        margin-top:$margin-base;
    }

	pre {
		padding-bottom: .75rem;
		margin-bottom: 0;
		overflow-x: auto;
	}

    code {

		&::before,
        &::after {
            position:absolute;
			padding:.25rem .5rem;
			color:#fff;
			font-weight:bold;
        }

		&::before {
			left:0;
			top:0;
			padding-left:.9375rem;
		}

		&[data-lang='javascript'] {

			&::before,
			&::after {
				background:#98B656;
			}

			&::before {
				content: attr(data-lang) ' {';
			}

			//&::after {
			//	content: '}';
			//}

		}

		&[data-lang='html'] {

			&::before,
			&::after {
				background: #539BD8;
			}

			&::before {
				content: attr(data-lang) ' <';
			}

			//&::after {
			//	content: '/>';
			//}

		}

    }

    // comments
    .c,.cm,.c1 {
        color:#C8CCC4;
    }

    // javascript objects and html tags
    .k,.kd,.nt {
        color:#ce3925;
    }

    // methods
    .nt,.nx {
        //color:#111;
    }

    // numbers
    .mi {
        color:#708DE9;
    }

    // strings
    .s,.s1,.s2 {
        color:#789C2A;
    }

    // operator
    .o {
        color:#C8CCC4;
    }

}

