nav.jump {

	font-family: Palatino, 'Noto Serif', 'Times', serif;
	font-style: italic;
	margin:0;

	a {
		text-transform:lowercase;
		color:#C5C0BC;
		text-decoration:none;

		&:focus,
		&:hover {
			text-decoration:underline;
		}
	}

	ul,li {
		margin:0;
		padding:0;
	}

	position:fixed;
	top:0;
	left:0;
	right:0;
	background:#E2E5C6;
	text-align:left;
	z-index:1000;
	padding:0 .9375rem;

	li {
		display:inline-block;
	}

	a {
		display:block;
		color:#787866;
		padding: 0 .9375rem;
		line-height:2.8125;
	}

	@media (min-width:38rem) {

		position:absolute;
		top:-10.6875rem;
		left:32rem;
		right:auto;
		width:6.25rem;
		background:#E2E5C6;
		text-align:center;
		z-index:1000;
		padding:0;

		li {
			display:block;
			padding:0;
			margin:0;
		}

		a {
			line-height:3;
			color:#787866;
			font-size:.9375em;
		}

	}
}


nav.back {

	position:absolute;
	top: 0;
	left: 0;

	&,a {
		margin:0;
	}

	a {
		display:block;
		width:$margin-base * 2;
		height:$margin-base * 2;
		color:transparent;
		font-size:0;
	}

	a::after {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		top:0;
		transform:scaleX(-1);
		background:#E2E5C6;
		background-image:url(../assets/arrow.svg);
		background-repeat:no-repeat;
		background-position:center center;
		background-size: 25%;
		content:'';
	}

	h1 {
		@extend %screenreader;
	}

    @media (min-width:54rem) {
        position:fixed;
        top:1.875rem;
    }

    @media (min-width:57.75rem) {
        left:1.875rem;
    }

}