nav {

	position:absolute;
	top: 0;
	left: 1.875rem;

	&,a {
		margin:0;
	}

	a {
		display:block;
		width:$margin-base * 2;
		height:$margin-base * 2;
		background:$fill-color-grey;
		color:transparent;
		font-size:0;
		margin-left: -1.875rem;

		transform:scaleX(-1);
		background-image:url(../assets/arrow.svg);
		background-repeat:no-repeat;
		background-size:1.25rem 1.25rem;
		background-position:center center;
	}

	h1 {
		@extend %screenreader;
	}

}