.post {

	header {
        margin:$margin-base -$margin-base;
		max-width:38rem;
	}

	.caption {

		padding-right:1.875rem;
		margin-left:1.875rem;
		max-width:18rem;

	}

	>div {

		margin:0;
        color:#52504E;

		// opening paragraph
		>p:first-child {
            position:relative;
            z-index:-1;
			clear:both;
			margin:1.875rem;
            padding:1.875rem;
			margin-top:0;
			margin-left:-1.875rem;
			color:$text-color-medium;
            background-color:$fill-color-grey;
			font-family:$family-serif;

			&::after {
				content:'';
				display: table;
				clear:both;
			}
		}

        >p:last-child {
            //margin-right:1.875rem;
        }

		// lists
		>ol,
		>ul {
			margin-left:1em;
			margin-right:10%;

			ul,ol {
				margin-right:0;
				margin-left:1.875rem;
			}

			>li {
				margin-bottom:.9375rem;
			}
		}

	}

    h2,h2 a {
        color:#716161;
    }

    h3,h3 a {
        color:#9E9494;
    }

    h2,h3 {
        margin-top:3.75rem;
    }

	aside {

        $fill:#EAF2F5;

        position: relative;
		margin-right:-1.875rem;
		padding: 1.875rem 1.875rem 0;
		background: $fill;

		color: #83807D;
		background-color: #EFF2F4;

		h1 {
			margin-top:0;
			font-size:1.25em;
			font-family: $family-sans-serif;
		}

		h1,
        a {
            color:#CF6363;
        }

	}

	@media (min-width:29rem) {

		.caption {

            font-size:1.25em;

			float: right;
			margin-left:1.875rem;
			margin-right:0;
			margin-bottom:.75rem;
			margin-top:-3.75rem;

            h1 {
                margin-bottom:-.45rem;
            }
		}

		>div {

            font-size:1.25em;

			> p:first-child {
				clear:none;
				margin-top:3.75rem;
				margin-left:-1.875rem;
				margin-bottom:1.875rem;
				margin-right:3.75rem;

			}
		}

	}

    @media (min-width:43rem) {

        h2 {
            margin-left:-1.875rem
        }

        .caption {

            float:left;
            margin-top:3.75rem;
            margin-right:1.875rem;
            margin-left:-1.875rem;

        }

        >div {

            padding-top:3.75rem;
            margin-right:3.75rem;

            >p:first-child {

                margin-left:1.875rem;
                margin-right:-3.75rem;
                font-size:1.125em;
            }

        }

    }

    @media (min-width:54rem) {

        .caption {

            float:left;
            margin-top:0;

        }

        >div {

            padding-top:1.875rem;

            >p:first-child {
                margin-top:1.875rem;
            }
        }
    }

}


