.thoughts {

    $layouts:(
        'stack':0,
        'stack-split':25rem
    );

    $background-color:#f2ece9;

    &::after {
        display:table;
        clear:both;
        content:'';
    }

	&,>li {
		padding:0;
		list-style-type:none;
	}

    p {
        font-family:$family-serif;
        margin:0;
        font-size:.875em;

        &,
        a {
            color:#83807D;
            text-decoration:none;
        }
    }

    .caption {

        margin-right:3.75rem;
        padding-right:1.875rem;

        // makes entire element clickable
        a::before {
            position:absolute;
            content:'';
            left:0;
            top:0;
            right:0;
            bottom:0;
            z-index:1;
        }

        // takes care of arrow block
        a::after {
            position:absolute;
            right:0;
            bottom:0;
            width:3.75rem;
            height:3.75rem;
            background-image:url(../assets/arrow.svg);
            background-repeat:no-repeat;
            background-size: 25%;
            background-position:center center;
            content:'';
            z-index:1;
        }

    }

	>li {

        position:relative;
        display:block;
		margin-bottom:1.875rem;

        &:first-child {

            .caption {

                float:left;
                margin-bottom:-1.875rem;
                //font-size:1.125em;

                a::after {
                    background-color:$fill-color-grey;
                }

            }

            p {
                clear:both;
                font-size:1em;
                padding:3.75rem 3.75rem 1.875rem 1.875rem;
                background-color:$fill-color-grey;
            }


        }

	}



    @media (max-width:25rem - .0625rem) {

        >li+li {

            max-width: 21.25rem;

            p {
                display:none;
            }

        }

    }

    @media (min-width:25rem) and (max-width:33rem - .0625rem) {

        //
        // all posts
        //
        p {
            margin-left:1.875rem;
        }


        //
        // latest post
        //
        >li:first-child {

            .caption {

                a::after {
                    right: 0;
                    bottom: .75rem;
                }

            }

        }

        //
        // all subsequent posts
        //
        >li:first-child~li {

            p {
                margin-right:3.875rem;
            }

            .caption {

                margin-bottom: 1.875rem;

                a::after {
                    right:0;
                    bottom:0;
                }

            }

        }

    }



    @media (min-width:33rem) {

        //
        // all posts
        //
        >li {

            $indent:4.25rem;

            max-width:34rem;
            padding-top: $indent;
            margin-bottom: 3.75rem;

            p {
                padding-right:1.875rem;
                margin-left:11.25rem;
            }

            .caption {
                float:left;
                margin-top:-$indent;
                margin-right:1.875rem;
                margin-bottom:.9375rem;
            }

        }

        //
        // latest post
        //
        >li:first-child {

            .caption {

                margin-bottom:0;

                a::after {
                    bottom:auto;
                    top: 5.25rem;
                }

            }

            p {
                clear:none;
                padding-top:1.875rem;
            }

        }

        //
        // all subsequent posts
        //
        >li:first-child~li {

            a::after {
                bottom:auto;
                top: 3.75rem;
            }

            p {
                margin-right:1.875rem;
            }
        }

    }



    @media (min-width:43rem) {

        >li:first-child~li:nth-child(even) {

            margin-left:11.25rem;

            +li {
                margin-top:-3.75rem;
            }

        }

    }

}